<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Modify the value of first half nodes/src/ModifyValues/ModifyValues.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ModifyValues.Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Modify the value of first half nodes"/>
</launchConfiguration>
