<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/simplify absolute path for a file (Unix-style)/src/simplifyPath/SimplifyPath.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="simplifyPath.Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="simplify absolute path for a file (Unix-style)"/>
</launchConfiguration>
